<!doctype html>
<html>
<head>
    <title>Node Private Page</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="public/global.css">
</head>
<body>
    <h2>
        Username: <%= user._username %>
    </h2>
    
    <form action="/document" method="post" id="docform">
            <label>Title</label>
            <input type="text" class="form-control" name="title">
            <label>Text</label>
            <textarea name='document' form='docform'>Input document here.</textarea>
        <button type="submit" class="btn btn-warning btn-lg">submit</button>
    </form>
    <script src='../public/docloader.js'></script>
</body>
</html>